<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Ajustes de Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="image">
    <ion-avatar class="logo">
      <ion-img src="{{user.foto}}" alt="Foto de perfil"></ion-img>
    </ion-avatar>
    <h2>{{user.nombre}}</h2>
    <ion-text color="dark"><h5>{{user.correo}}</h5></ion-text>
  </div>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>
          <h2>Nombre de usuario</h2>
        </ion-label>
        <ion-icon slot="end" name="pencil" (click)="showAlertInputName()"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon slot="start" name="shield"></ion-icon>
        <ion-label>
          <h2>Contraseña</h2>
        </ion-label>
        <ion-icon slot="end" name="pencil" (click)="showAlertInputPass()"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>
    
  <ion-card>
    <ion-card-content>
      <ion-item (click)="alertLogOut()" lines="none">
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>  
    
  <ion-card>
    <ion-card-content>
      <ion-item (click)="alertDelete()" lines="none">
        <ion-icon slot="start" name="trash" color="danger"></ion-icon>
        <ion-label color="danger">Eliminar Cuenta</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
