<ion-content>

    <div class="image">
      <ion-img src="assets/icon/logoalbondiga.png" class="logo"></ion-img>
      <h1 class="ion-text-center PanettoneDEMO" style="margin-top: 2%;">Tojito Bussines</h1>
    </div>

    <ion-card mode="md" class="ion-text-center">
  
      <ion-card-content style="height: 80%;">
  
        <ion-slides mode="ios" style="height: 100%;">
  
          <ion-slide>
            <ion-icon name="storefront"></ion-icon>
            <ion-text color="dark">
              <h1 style="margin-bottom: 5%;">Tú negocio en línea</h1>
            </ion-text>
            <ion-text>
              <h2 class="ion-text-center">Da a conocer tu negocio en toda la zona para que los
              clientes acudan a tu establecimiento, haz crecer tus ventas.</h2>
            </ion-text>
            <ion-text color="dark">
              <h3 style="margin-top: 5%;">Desliza para ver más información</h3>
            </ion-text>
          </ion-slide>
  
          <ion-slide>
            <ion-icon name="shield"></ion-icon>
            <ion-text color="dark">
              <h1 style="margin-bottom: 5%;">Totalmente seguro</h1>
            </ion-text>
            <ion-text>
              <h2 class="ion-text-center">Registrate para tener todos los beneficios que te ofrecemos,
              sólo tu podrás acceder a la información de tu negocio.</h2>
            </ion-text>
            <ion-text color="dark">
              <h3 style="margin-top: 5%;">Desliza para ver más información</h3>
            </ion-text>
          </ion-slide>
  
          <ion-slide>
            <ion-icon name="restaurant"></ion-icon>
            <ion-text color="dark">
              <h1 style="margin-bottom: 5%;">Tú comida. tú sazón</h1>
            </ion-text>
            <ion-text>
              <h2 class="ion-text-center">Publica tu menú, de esta manera
                se reducen los tiempos de espera en pedidos y ayudas al medio ambiente
                al no usar las cartas tradicionales.</h2>
            </ion-text>
            <ion-text color="dark">
              <h3 style="margin-top: 5%;">Desliza para ver más información</h3>
            </ion-text>
          </ion-slide>
  
          <ion-slide>
            <ion-icon name="people"></ion-icon>
            <ion-text color="dark">
              <h1 style="margin-bottom: 5%;">Expándete</h1>
            </ion-text>
            <ion-text>
              <h2 class="ion-text-center">Haz que la gente te conozca utilizando
                utilizando el poder de la tecnología, tus clientes sabrán de tu
                negocio estén donde estén.
              </h2>
            </ion-text>
            <ion-text color="dark">
              <h3 style="margin-top: 5%;">Disfruta de los beneficios que te ofrecemos</h3>
            </ion-text>

          </ion-slide>
  
        </ion-slides>
  
        <ion-button routerLink="/login"
                    color="blue"
                    mode="ios"
                    style="margin-top: 5%;">
          Empezar
        </ion-button>
      </ion-card-content>
    </ion-card>

</ion-content>

<!--
<ion-footer class="ion-no-border ion-padding">
  <ion-button expand="block" color="purple" mode="ios" routerLink="/login">
    Iniciar sesión
  </ion-button>
  
  <ion-button expand="block" color="orange" mode="ios" routerLink="/register">
    Registrarme
  </ion-button>
</ion-footer>
-->