<ion-content class="ion-text-center">

  <div class="image">
    <ion-img src="assets/icon/logoalbondiga.png" class="logo"></ion-img>
    <ion-text color="dark"><h5>Registro de usuario</h5></ion-text>
  </div>

  <!-- Card de registro de usuario -->
  <form #formulario="ngForm">
    <ion-card  mode="md">
      <ion-item lines="none">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-input
          type="text"
          name="username"
          autocapitalize="on"
          placeholder="Nombre de usuario"
          [(ngModel)]="user.nombre"
          required>
        </ion-input>
      </ion-item>
    </ion-card>

    <ion-card  mode="md">
      <ion-item lines="none">
        <ion-icon slot="start" name="at"></ion-icon>
        <ion-input
          type="email"
          name="email"
          placeholder="Correo electrónico"
          [(ngModel)]="user.correo"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
          required>
        </ion-input>
      </ion-item>
    </ion-card>

    <ion-card  mode="md">
      <ion-item lines="none">
        <ion-icon slot="start" name="shield"></ion-icon>
        <ion-input
          type="password"
          name="pass"
          minlength=8
          placeholder="Ingresa una contraseña"
          [(ngModel)]="user.contrasena"
          required>
        </ion-input>
      </ion-item>
    </ion-card>

    <ion-card  mode="md">
      <ion-item lines="none">
        <ion-icon slot="start" name="checkmark"></ion-icon>
        <ion-input
          type="password"
          name="passConf"
          placeholder="Confirmar contraseña"
          [(ngModel)]="conPass"
          pattern="{{user.contrasena}}"
          required>
        </ion-input>
      </ion-item>
    </ion-card>

    <ion-card  mode="md">
      <ion-item lines="none">
        <ion-checkbox
          color="pink"
          slot="start"
          pattern="true"
          [(ngModel)]="dataCheck.value"
          name="check"
          required>
        </ion-checkbox>
        <ion-label color="medium">{{dataCheck.eti}}</ion-label>
      </ion-item>
    </ion-card>
  </form>
  <ion-button color="blue"
              (click)="registro()"
              mode="ios"
              [disabled]="formulario.invalid">
    Registrarme
  </ion-button>

</ion-content>

<ion-footer class="ion-no-border ion-text-center" mode="md">
  <ion-toolbar>
    <ion-button fill="clear" color="dark" mode="ios" routerLink="/login">
      Ya tengo una cuenta
    </ion-button>
  </ion-toolbar>
</ion-footer>
