<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Registro - Etapa I</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="base">
    <ion-text><h2>Bienvenido {{nombre}}</h2></ion-text>
    <ion-text color="dark">
      <p>Estas muy cerca de poder disfrutar de los beneficios que te ofrecemos,
        sólo algunos datos más y estarás listo. Tu dirección de correo:</p>
    </ion-text>
    <ion-text>
      <ion-badge color="pink"><h5>{{correo}}</h5></ion-badge>
    </ion-text>
    <ion-text color="dark">
      <p>ha quedado registrada con éxito. A continuación, llene los campos que se le piden.</p>
    </ion-text>
  </div>

  <form #formulario="ngForm" class="intro">
    <ion-card>
      <ion-item lines="none">
        <ion-icon slot="start" name="storefront"></ion-icon>
        <ion-input
          type="text"
          name="nombreneg"
          placeholder="Ingresa el nombre de tu negocio"
          [(ngModel)]="negocio.nombre"
          required>
        </ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-icon slot="start" name="map"></ion-icon>
        <ion-input
          type="text"
          name="direccion"
          placeholder="Ingresa la dirección de tu negocio"
          [(ngModel)]="negocio.direccion"
          required>
        </ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-icon slot="start" name="call"></ion-icon>
        <ion-input
          type="text"
          name="telefono"
          minlength=10
          maxlength=10
          placeholder="Ingresa un teléfono del negocio"
          [(ngModel)]="negocio.tel"
          required>
        </ion-input>
      </ion-item>
    </ion-card>
  </form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="envioNeg1()"
                expand="block"
                color="blue"
                mode="ios"
                [disabled]="formulario.invalid"
                [routerLink]="['/nego2/', id]">
      Continuar
    </ion-button>
  </ion-toolbar>
</ion-footer>
