<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Registro - Etapa II</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="base">
    <ion-text><h2>Ya estamos finalizando</h2></ion-text>
    <ion-text color="dark">
      <p>El registro para su negocio:</p>
    </ion-text>
    <ion-text>
      <ion-badge color="pink"><h5>{{negocio.nombre}}</h5></ion-badge>
    </ion-text>
    <ion-text color="dark">
      <p>está por concluir, a continuación, llene los campos que se le piden para finalizar
        el registro y comenzar a disfrutar de los beneficios que le ofrecemos.</p>
    </ion-text>
  </div>

  <form #formulario="ngForm">
    <ion-card>
      <ion-item lines="none">
        <ion-icon slot="start" name="megaphone"></ion-icon>
        <ion-input
        type="text"
          name="eslogan"
          placeholder="Ingresa el eslogan de tu negocio"
          [(ngModel)]="negocio.eslogan"
          required>
        </ion-input>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
        <ion-icon slot="start" name="pencil"></ion-icon>
        <ion-input
          type="text"
          name="desc"
          placeholder="Breve descripción de tu negocio"
          [(ngModel)]="negocio.desc"
          required>
        </ion-input>
      </ion-item>
    </ion-card>
  </form>

  <ion-button expand="block"
              color="blue"
              fill="{{statusBotSer}}"
              mode="ios"
              (click)="openModalServices()">
    Agregar Servicios
  </ion-button>
  <ion-button expand="block"
              color="blue"
              fill="{{statusBotMen}}"
              mode="ios"
              (click)="openModalMenu()">
    Agregar Menú
  </ion-button>
  <ion-button expand="block"
              color="blue"
              fill="{{statusBotFotos}}"
              mode="ios"
              (click)="openModalPhotos()">
    Agregar Fotografía
  </ion-button>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="envioNeg2()"
                expand="block"
                color="blue"
                mode="ios"
                [disabled]="formulario.invalid || (statusMen || statusSer || statusFotos)">
      Mandar solicitud
    </ion-button>
  </ion-toolbar>
</ion-footer>
